// CUSTOM FONTS

@font-face {
    font-family: FaktProSoft;
    src: url(../fonts/FaktSoftPro-Blond.eot);
    src: url(../fonts/FaktSoftPro-Blond.eot?#iefix) format("embedded-opentype"), url(../fonts/FaktSoftPro-Blond.woff) format("woff"), url(../fonts/FaktSoftPro-Blond.ttf) format("truetype");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: FaktProSoft;
    src: url(../fonts/FaktSoftPro-Normal.eot);
    src: url(../fonts/FaktSoftPro-Normal.eot?#iefix) format("embedded-opentype"), url(../fonts/FaktSoftPro-Normal.woff) format("woff"), url(../fonts/FaktSoftPro-Normal.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: FaktProSoft;
    src: url(../fonts/FaktSoftPro-Medium.eot);
    src: url(../fonts/FaktSoftPro-Medium.eot?#iefix) format("embedded-opentype"), url(../fonts/FaktSoftPro-Medium.woff) format("woff"), url(../fonts/FaktSoftPro-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal
}