{% load static %}
<!-- SEO -->
<meta charset="UTF-8">
<meta name="description" content="Komunitas Django Framework Indonesia. Tempat sharing dan diskusi seputar web development menggunakan Django Web Framework">
<meta name="keywords" content="django, django framework, django indonesia, python, komunitas django indonesia, django-id">
<meta name="author" content="Alzea Arafat">
<!--EOC-->

<!-- INCLUDE ALL STYLES -->
<link rel="stylesheet" type="text/css" href="{% static "css/bulma.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/typicons.min.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/pygments.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/base.min.css" %}">
<!-- EOC -->

<!-- FAVICON -->
<link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">
<link rel="icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">
<!-- EOL -->

<!-- TELL BROWSER, THIS SITE IS MOBILE READY -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- EOC -->
