// AUTH

.dj-auth-wrapper {

  padding-top: 100px;
  padding-bottom: 100px;

  .dj-auth-box {
    text-align: center;
    background-color: #ffffff;
    padding: 50px;
    border: 1px solid $dj-color-grey;
    border-radius: 5px;
    margin-left: 10%;
    margin-right: 10%;
  }
}

.dj-author-edit-wrapper {
  padding-top: 100px;
  padding-bottom: 100px;
}